 RewriteEngine On

 # Redirect http -> https
 # @param R - Redirect to new URL
 # @param L - Last - stop processing rules
 # @param 301 - Moved Permanently
 RewriteCond %{HTTPS} !=on
 RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

 # Redirect non-www -> www
 RewriteCond %{HTTP_HOST} !^www\.
 RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

 # Laravel redirect to public folder
 RewriteRule ^(.*)$ public/$1 [L]